@import 'tailwindcss';

@theme {
  /* primary */
  --color-primary: hsl(183, 45.7%, 36%);
  --color-primary-100: hsl(183, 45.7%, 40%);
  --color-primary-200: hsl(183, 45.7%, 44%);

  /* secondary */
  --color-secondary: hsl(0, 0%, 93.3%);

  /* surface */
  --color-surface: hsl(219, 12.5%, 10%);
  --color-surface-50: hsl(219, 12.5%, 12%);
  --color-surface-100: hsl(219, 12.5%, 20%);
  --color-surface-200: hsl(219, 12.5%, 26%);
  --color-surface-300: hsl(219, 12.5%, 35%);

  /* neutral */
  /* --color-neutral: hsl(216, 18.1%, 4%); */
  /* --color-neutral-100: hsl(216, 18.1%, 10%); */
  /* --color-neutral-200: hsl(216, 18.1%, 20%); */

  --color-rag-red: hsl(360 42% 40%);
  --color-rag-amber: hsl(26 57% 43%);
  --color-rag-green: hsl(102 42% 40%);
  --color-rag-gray: hsl(26 0% 35%);
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: var(--color-neutral-800);
  border-radius: 100vh;
  border: 1px solid var(--color-neutral-700);
}

::-webkit-scrollbar-thumb:hover {
  background: var(--color-neutral-700);
}
