<div class="flex flex-col gap-4 font-semibold">
  <div class="flex flex-col">
    <div class="text-3xl font-semibold">{{ patient().fullName }}</div>
    <div class="flex gap-2">
      <span>{{ patient().age }}</span>
      <span class="text-zinc-400">{{ patient().gender }}</span>
    </div>
  </div>

  <hr class="text-zinc-700" />

  <div class="flex gap-8">
    <div class="flex flex-col gap-1 text-sm">
      <div class="flex items-center gap-2">
        <ng-icon name="matPhoneOutline" size="16" />
        <span>{{ patient().phoneNumber }}</span>
      </div>

      <div class="flex items-center gap-2">
        <ng-icon name="matEmailOutline" size="16" />
        <span>{{ patient().email }}</span>
      </div>

      <div class="flex items-center gap-2">
        <ng-icon name="matFmdGoodOutline" size="16" />
        <span>
          {{ patient().address.street }} {{ patient().address.city }} {{ patient().address.state }}
          {{ patient().address.zip }} {{ patient().address.country }}
        </span>
      </div>

      <div class="flex items-center gap-2">
        <ng-icon name="matContactEmergencyOutline" size="16" />
        <span>
          {{ patient().emergencyContact?.name }}, {{ patient().emergencyContact?.relationship }} -
          {{ patient().emergencyContact?.phoneNumber }}
        </span>
      </div>
    </div>

    <div class="flex flex-col gap-1 text-sm">
      <div class="flex gap-2">
        <span class="text-zinc-400">Language:</span>
        <span>{{ patient().preferredLanguage }}</span>
      </div>

      <div class="flex gap-2">
        <span class="text-zinc-400">Marital Status:</span>
        <span>{{ patient().maritalStatus }}</span>
      </div>

      <div class="flex gap-2">
        <span class="text-zinc-400">Blood Type:</span>
        <span>{{ patient().bloodType }}</span>
      </div>
    </div>
  </div>
</div>
